header{
    text-align: center;
}

h1{
    font-family: 'Abril Fatface', cursive;
    font-size:70px;
    padding-bottom: -10px;
}

h2{
    font-family: 'Abril Fatface', cursive;
}

h3, p, li{ 
    font-family: 'Roboto', sans-serif;
}

a {
    color:black;
    text-decoration: none;  
}

main{
    border: 1px solid black;
    

}

body{
    background-color:#f0ece1;
    margin-top: 150px;
    margin-right: 250px;
    margin-left: 250px;
    margin-bottom: 80px;
}

.summary{
    background-image:url(gradient_bg.png);
    text-align:center;
}

.main-column{
    width:60%;
    display: inline-block;
    padding-left: 40px;
    padding-bottom: 40px;
}

.side-column{
    width:30%;
    float:right;
    display: inline-block;
    padding-right: 40px;
    padding-bottom: 40px;
}

footer{
    text-align: center;
}


